body{
    background-color:#fefefe;
    padding: 5px 0 5px 0;
}

div.quiz_contenido{
    margin: 0 auto;
    width: 810px;
    min-height: 580px;
    background: #FAFAFA;
    padding: 0 10px;
    
}

div.quiz_detalle {
    min-height: 340px;
}

ul.opciones_quiz{
    list-style: none
}

div.opcion_quiz{
    background-color: #f5f5f5;
    border: 1px solid #e2e2e2;
    width: 90%;
    margin-bottom: 5px;
    padding: 2px 10px;
    border-radius: 2px;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

div.opcion_quiz:hover{
    border: 1px solid #bbb;
    background-color: #89cb4e;
    color: white;
}

div.actual{
    border: 1px solid #89cb4e;
    background-color: #89cb4e;
    color: white;
}

img.principal{
    max-height: 300px;
}

.casilla_quiz{
    font-size: 0.9em;
    color: #666;
    border: 1px #fad712 solid;
    background: #fcea81;
    margin: 2px;
    padding: 3px;
    border-radius: 2px;
}