@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;700&display=swap');

body {
    background-color: white;
    padding-top: 1em;
}

.quiz-container {
    min-height: calc(100vh - 100px);
    width: 100%;
    /*border: 1px solid red;*/
    display: flex;
    align-items:center;
    justify-items: center;
}

p.lectura {
    background-color: #FFF;
    font-family: 'Signika Negative', serif;
    font-size: 20px;
    border-top: 2px solid #EEE;
    border-bottom: 2px solid #EEE;
    border-right: 2px solid #EEE;
    border-left: 2px solid #EEE;
    padding: 1em;
}

.btn-primary {
    background-color: #2db2f8;
    border-color: #2db2f8;
}

.btn-primary:hover {
    background-color: #61c5fa;
    border-color: #61c5fa;
}

.bg-primary {
    background-color: #2db2f8;
}