

<html>
    <head>
        <title>Plataforma Enlace</title>
        <link rel="shortcut icon" href="http://www.plataformaenlinea.com/demo/media/images/admin/icono.png" type="image/ico" />

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        
        <!--Bootstrap-->
        <link rel="stylesheet" href="http://www.plataformaenlinea.com/demo/assets/bootstrap/css/bootstrap.min.css">
        <script type="text/javascript" src="http://www.plataformaenlinea.com/demo/assets/bootstrap/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Ubuntu:500,300'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        
        <link rel="stylesheet" href="http://www.plataformaenlinea.com/demo/css/responsivegridsystem/col.css" media="all">
        <link rel="stylesheet" href="http://www.plataformaenlinea.com/demo/css/responsivegridsystem/2cols.css" media="all">
        <link rel="stylesheet" href="http://www.plataformaenlinea.com/demo/css/responsivegridsystem/3cols.css" media="all">
        <link rel="stylesheet" href="http://www.plataformaenlinea.com/demo/css/responsivegridsystem/4cols.css" media="all">

        <!--JQuery-->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        
        <link type="text/css" rel="stylesheet" href="http://www.plataformaenlinea.com/demo/css/apanel/style.css">
        <link type="text/css" rel="stylesheet" href="http://www.plataformaenlinea.com/demo/css/apanel/style_add.css">
        <script type="text/javascript" src="http://www.plataformaenlinea.com/demo/js/apanel/actions.js"></script>
        
        <!--Google analytics-->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-31542027-5', 'auto');
            ga('send', 'pageview');
        </script>
        
          

        <script type="text/javascript">
            $(document).ready(function() {
            //Inicio de document.ready
                                //Fin funciones auto

                            //Fin de document.ready
            });
        </script>    </head>

    <body>  
        <div class="login">
            <div style="text-align: center;">
                <img src="http://www.plataformaenlinea.com/demo/media/images/admin/logo_enlace_transparent.png" />
            </div>
            <div class="section group" style="text-align: center;">

                <h2>Este sitio está mantenimiento</h2>
                <p>El sitio web se habilitará más tarde</p>
                <p>Disculpe las molestias</p>

            </div>
        </div>
    </body>
</html>