@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;700&display=swap');

#ledin {
    background-color: #fffEFA;
    padding: 1.5em;
}

.ledin_contenido {
    text-align: justify;
    font-family: 'Signika Negative', serif;
    font-size: 1.2em;
    color: #333;
}

#ledin span.con_definicion{
    color: #01579b;
    background: #b3e5fc;
    padding: 0 2px 0 2px;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#ledin span.atenuada{
    color: #fffEFA;
}

#ledin span.resaltada{
    color: #3e2723;
    background: #ffe082;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#ledin hr {
    display: block;
    border: 1px solid red;
}

#ledin h2{
    color: #b71c1c;
}