<html>
    <head>
        <title>Plataforma En Línea Editores</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- <meta http-equiv='Refresh' content='0;https://www.plataformaenlinea.com/2017/app/login/'> -->
    </head>

    <body style="font-family: arial; font-size: 0.8em">
        <span class="suave">Test Sin Redireccionamiento</span>
        <br>
        <span class="suave">CodeIgniter Desactivado</span>
        <br>
        <span class="suave">Base de Datos No Usada</span>
    </body>
</html>